.card-fourth {
 
}

@media (min-width: 720px) {
  .card-fourth {
    display: grid;
    grid-template-columns: 46.4rem 22.4rem;
    grid-template-rows: auto;
    grid-column-gap: 1.6rem;

    height: 24.3rem;
  }
}
