.card-fourth {
 
}

@media (min-width: 768px) {
  .card-fourth {
    display: grid;
    grid-template-columns: 464px 224px;
    grid-template-rows: auto;
    grid-column-gap: 16px;

    height: 243px;
  }
}
