.card {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.button {
  outline: none;
  cursor: pointer;
}

.card-first {
  padding-top: 5.1rem;
}
@media (min-width: 720px) {
  .card-first {
    height: 30.5rem;
  }
}
.card-fourth {
 
}

@media (min-width: 720px) {
  .card-fourth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46.4rem 22.4rem;
        grid-template-columns: 46.4rem 22.4rem;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 1.6rem;

    height: 24.3rem;
  }
}

.card-second { 
  padding-top: 5.1rem;
}

.card-third {

}

.feed {
  
}

@media (min-width: 720px) {
  .feed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(62.4rem / 6))[6];
        grid-template-columns: repeat(6, calc(62.4rem / 6));
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 1.6rem;
    grid-row-gap: 3.2rem;
    grid-auto-flow: row dense;
  }
}
.font {
  font-family: 'YS Text', Helvetica, Arial, sans-serif;
}
.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}

@media (min-width: 720px) {
  .header {
    width: 70.4rem;
    margin: 0 auto;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
.icon {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img {
  width: 100%;
}

.img-box {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-radius: .6rem;
}

.logo {
    display: inline-block;
    width: 9.1rem;
    height: 2.9rem;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    font-size: 0;
    line-height: 0;
}

.page {
  margin: 0 0 3rem;
}
.card__title {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.3rem;
  background: #fff;
}

@media (min-width: 720px) {
  .card_size_l {
    height: 24.3rem;
  }
}
@media (min-width: 720px) {
  .card_size_m {
    height: 23.6rem;
  }
}



@media (min-width: 720px) {
  .card_size_s {
    height: 23rem;
  }
}

.button_type_icon {
  background: inherit;
  border: none;
  padding: 0;
}

.card-first__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;   
}

.card-first__desc {
  padding-right: 2rem;
  margin: 0;
  height: 6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-first__desc-box {
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.card-first__img-box {
  margin-top: .7rem;    
}


.card-first__title {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: .7rem;
}

.card-fourth__controls {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.card-fourth__desc {

}

.card-fourth__desc-box {
    
}

.card-fourth__img-box {
  display: none;
}

@media (min-width: 720px) {
  .card-fourth__img-box {
    display: inline-block;
  }
}

.card-fourth__subcard {
  position: relative;
  height: inherit;
}

.card-fourth__title {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.card-second__controls {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  padding: 1.2rem;
}

.card-second__high-layer {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
}

.card-second__img-box {
    
}

.card-second__title {
  padding-bottom: .8rem;
}

.card-third__author {
  font-weight: 700;
  font-size: 1.4rem;
  color: #000000;
}

.card-third__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.card-third__desc {
  margin: 0;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #000000;
  overflow: hidden;
}

.card-third__desc-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.card-third__footer {
  width: 100%;
  height: 4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

@media (min-width: 720px) {
  .card-third__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    background: #fff;
  }
}
.card-third__last-control {
  margin-left: 24px;
}

.card-third__title {
  margin-bottom: 1rem;
}

.feed__item {
  margin-bottom: 32px;
}

@media (min-width: 720px) {
  .feed__item {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "YS Text";
  src: url("fonts/YS Text-Regular.eot");
  src: url("fonts/YS Text-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/YS Text-Regular.woff2") format("woff2"),
  url("fonts/YS Text-Regular.woff") format("woff"),
  url("fonts/YS Text-Regular.ttf") format("truetype"),
  url("fonts/YS Text-Regular.svg#fonts/YSText-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YS Text";
  src: url("fonts/YS Text-Bold.eot");
  src: url("fonts/YS Text-Bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/YS Text-Bold.woff2") format("woff2"),
  url("fonts/YS Text-Bold.woff") format("woff"),
  url("fonts/YS Text-Bold.ttf") format("truetype"),
  url("fonts/YS Text-Bold.svg#fonts/YSText-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

.font_face_ya {
  -webkit-font-feature-settings: "liga", "kern";
          font-feature-settings: "liga", "kern";
}

.header__logo {
    
}

.icon_type_heart-grey {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url(images/icon_type_heart-grey.svg); 
}

.icon_type_heart-white {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url(images/icon_type_heart-white.svg); 
}

.icon_type_more-grey {
  width: 2.2rem;
  height: .6rem;
  background-image: url(images/icon_type_more-grey.svg); 
}

.icon_type_more-white {
  width: 2.2rem;
  height: .6rem;
  background-image: url(images/icon_type_more-white.svg); 
}

.img-box__img {
    
}

.img-box__title {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 1rem 1rem;
  width: 100%;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,0));
}

.page__feed {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 344px;
}


@media (min-width: 720px) {
  .page__feed {
    padding: 0;
    width: 70.4rem;
    max-width: 100%;
  }
}
.page__header {
  padding: 4rem 0;
}

.feed__item_size_2-6 {
  -ms-grid-column: span 2;
      grid-column: span 2;
}

.feed__item_size_3-6 {
  -ms-grid-column: span 3;
      grid-column: span 3;
}

.feed__item_size_6-6 {
  -ms-grid-column: span 6;
      grid-column: span 6;
}
